@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  list-style: none;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  font-family: Montserrat;
  color: #252B42;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-block {
  margin: 0 auto;
  max-width: 864px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.top-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
}
.top-block__description {
  max-width: 510px;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 85px;
  }
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
}
.header__menu {
  margin: 0px 0px 0px 132px;
  padding: 5px 0px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  font-size: 14px;
  line-height: 171.4285714286%;
  font-weight: 600;
  color: #737373;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 16px;
    line-height: 150%;
  }
}

.page {
  flex: 1 1 auto;
}
.page__main-block {
  position: relative;
}
.page__services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}
.page__achievements {
  margin: 80px 0px 160px;
  box-sizing: content-box;
}
.page__advice {
  box-sizing: content-box;
  margin: 0px 0px 160px 0px;
}
.page__company {
  margin-top: 136px;
}
.main-block__body {
  position: relative;
  z-index: 2;
  padding-top: 184px;
  padding-bottom: 191px;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding-top: 100px;
  }
}
.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 137.9310344828%;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 40px;
  }
}
.main-block__text {
  font-size: 20px;
  line-height: 150%;
  color: #737373;
}
.main-block__buttons {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  display: flex;
  letter-spacing: 0.2px;
  text-align: center;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 36px;
  min-height: 48px;
  border-radius: 37px;
  margin: 10px 0;
}
.main-block__button_orange {
  color: white;
  background: #FF7B47;
}
.main-block__button_border {
  color: #0D5C63;
  border: 1px solid #0D5C63;
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-block__image img {
  -o-object-position: right;
     object-position: right;
}
@media (max-width: 1065px) {
  .main-block__image img {
    opacity: 0.7;
  }
}
@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

.services__body {
  display: flex;
  margin: 0px 15px;
  flex-wrap: wrap;
}
.services__column {
  padding: 0px 15px;
  flex: 0 1 33.333%;
  min-height: 242px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 767px) {
  .services__column {
    flex: 0 1 100%;
  }
}
.services__item {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: white;
  padding: 35px;
  height: 100%;
  letter-spacing: 0.1px;
}
.services__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.services .item-service {
  min-height: 242px;
}
.services .item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
}
.services .item-service__text {
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
}
@media (max-width: 479px) {
  .services .item-service__title {
    font-size: 24px;
  }
  .services .item-service__text {
    font-size: 12px;
  }
}
.services .active {
  color: white;
  background: #0D5C63;
}

.achievements {
  width: 100%;
}
.achievements__container {
  width: 100%;
  padding: 15px;
}
.achievements__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achievements__bottom-block {
  margin-top: 50px;
  flex-wrap: wrap;
}
.achievements .bottom-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
.achievements .bottom-block__column {
  padding: 0px 15px;
  flex: 0 1 25%;
  min-width: 248px;
}
@media (max-width: 768px) {
  .achievements .bottom-block__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 517px) {
  .achievements .bottom-block__column {
    flex: 0 1 100%;
  }
}
.achievements .bottom-block__item {
  text-align: center;
  padding: 30px 26px;
  background: #ffffff;
}
.achievements .bottom-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
}
.achievements .bottom-block__sub-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}

.advice__container {
  width: 100%;
  padding: 0px;
}
.advice__top-block {
  padding: 45px;
}
.advice .bottom-block {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advice .bottom-block__column {
  margin: 10px 10px;
}
@media (max-width: 530px) {
  .advice .bottom-block__column {
    margin: 0 auto;
  }
}
.advice .bottom-block__item {
  display: flex;
  flex-direction: column;
  max-width: 232px;
  background: #ffffff;
}
@media (max-width: 490px) {
  .advice .bottom-block__item {
    max-width: 100%;
  }
}
.advice .bottom-block .item__top {
  padding: 30px;
  min-height: 191px;
}
.advice .bottom-block .item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 141.1764705882%;
}
.advice .bottom-block .item__text {
  margin-top: 15px;
  font-size: 14px;
  line-height: 125%;
  color: #737373;
}
.advice .bottom-block .item__bottom {
  width: calc(100% + 30px);
  height: 138px;
}
@media (max-width: 490px) {
  .advice .bottom-block .item__top {
    text-align: center;
  }
  .advice .bottom-block .item__bottom {
    width: 100%;
    height: 200px;
  }
  .advice .bottom-block .item__bottom img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about {
  background-color: white;
}
.about__container {
  padding: 0px;
}
.about__body {
  display: flex;
  flex-direction: column;
}
.about__top-block {
  padding: 100px 0px;
}
.about__bottom-block {
  flex-wrap: wrap;
  display: flex;
}

.bottom-block__left {
  margin-right: 112px;
  max-height: 442px;
  min-width: 600px;
  position: relative;
}
.bottom-block__left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.bottom-block__circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0D5C63;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bottom-block__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}
.bottom-block__right {
  max-height: 438px;
  max-width: 333px;
}
.bottom-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  margin-bottom: 10px;
  margin-top: 20px;
}
.bottom-block__text {
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
  margin-bottom: 50px;
}
.bottom-block__small {
  position: relative;
  padding-left: 44px;
}
.bottom-block__small:not(:last-child) {
  margin-bottom: 30px;
}
.bottom-block__small-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.bottom-block__small-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 5px;
}
.bottom-block__small-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}
@media (max-width: 1080px) {
  .bottom-block__left {
    margin: 0 auto;
    height: 400px;
  }
  .bottom-block__left img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom-block__circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
  }
  .bottom-block__right {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  .bottom-block__small {
    padding-left: 10px;
  }
}
@media (max-width: 660px) {
  .bottom-block__left {
    margin: 0 auto;
    height: 400px;
    min-width: 100%;
  }
  .bottom-block__left img {
    padding: 15px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom-block__circle img {
    position: absolute;
    padding: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 440px) {
  .bottom-block__small-icon {
    display: none;
  }
  .bottom-block__left {
    margin: 0 auto;
    height: 300px;
    min-width: 100%;
  }
  .bottom-block__left img {
    padding: 15px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom-block__circle {
    width: 70px;
    height: 70px;
  }
  .bottom-block__circle img {
    position: absolute;
    padding: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}

.company__container {
  position: relative;
  padding: 0px;
}
.company__flex {
  margin: 0 auto;
  margin-bottom: 87px;
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}
.company__image {
  width: calc(16.6666666667% - 30px);
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company__image:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 830px) {
  .company__flex {
    margin: 0 auto;
    margin-bottom: 87px;
    height: 525px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 0px;
  }
  .company__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .company__image:not(:last-child) {
    margin-right: 0px;
  }
}
.company__connect {
  position: absolute;
  top: 144%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: calc(100% - 64px);
  height: 124px;
  padding: 30px;
  background: #17213C;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.company__form {
  width: 50%;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  display: flex;
}
.company__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media (max-width: 950px) {
  .company__title, .company__form {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 550px) {
  .company__title {
    font-size: 12px;
  }
  .company__button {
    font-size: 8px;
  }
}
.company__input {
  width: 75%;
  height: 100%;
  padding-left: 20px;
}
.company__button {
  width: 25%;
  height: 100%;
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  color: white;
}
@media (max-width: 450px) {
  .company__title {
    font-size: 10px;
  }
  .company__button {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .company__button {
    font-size: 8px;
  }
}
.company__bottom-block {
  width: 100%;
  background: #252B42;
  height: 80px;
  max-width: 100%;
}

.contacts {
  margin-bottom: 148px;
}
.contacts__container {
  padding: 0px 30px;
}
.contacts__bottom-block {
  min-height: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 830px) {
  .contacts__bottom-block {
    flex-direction: column;
    height: 100%;
  }
}
.contacts .top-block {
  margin: 80px auto;
}
.contacts .item {
  width: 33.333%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 85%;
  text-align: center;
  background-color: white;
}
.contacts .item__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.contacts .item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.contacts .item__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  padding: 10px 20px;
  background: white;
}
.contacts .item:nth-child(2) {
  height: 100%;
  background: #252B42;
  color: white;
}
@media (max-width: 830px) {
  .contacts .item {
    width: 75%;
  }
  .contacts .item > *:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 479px) {
  .contacts .item {
    width: 95%;
  }
}

.last {
  background: white;
}
.last__container {
  max-width: 1106px;
  padding: 0;
}
.last__top-block {
  display: flex;
  justify-content: space-between;
  min-height: 142px;
  padding: 40px 0px;
}
.last__left {
  width: 50%;
  height: 100%;
}
.last__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.last__text {
  color: #737373;
  font-size: 14px;
  line-height: 20px;
}
.last__right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.last__button {
  background: #FF7B47;
  border-radius: 5px;
  text-align: center;
  color: white;
  padding: 15px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  margin-right: 20px;
}
@media (max-width: 830px) {
  .last__top-block {
    display: flex;
    flex-direction: column;
  }
  .last__left {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 10px;
  }
  .last__right {
    width: 100%;
    justify-content: center;
  }
  .last__button {
    margin-right: 0px;
  }
}
.last__bottom-block {
  background: #17213C;
  min-height: 272px;
  height: 272px;
  padding: 50px 0px;
}
.last__grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 2fr;
  grid-template-rows: repeat(5, 1fr);
}
.last__item {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 30px;
}
@media (max-width: 950px) {
  .last__bottom-block {
    height: 100%;
  }
  .last__grid {
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(5, 1fr);
  }
}
@media (max-width: 700px) {
  .last__bottom-block {
    height: 100%;
  }
  .last__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .last__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 30px;
    margin-right: 0px;
  }
}
.last ._container {
  max-width: 1108px;
  padding: 0px;
}
.last .first {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  max-width: 1108px;
  margin: 0 auto;
  width: 100%;
  height: 74px;
  display: flex;
}
.footer .left {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
.footer .left h2 {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.footer .right {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer .right .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 236px;
}

@media (max-width: 950px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .left {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer .right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}